.investorCard {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 10px;
    border-radius: 13px;
    width: 100%;
    height: 100%;
    background-color: var(--bg-secondary-color);
    border: 1px solid var(--border-secondary-color);
}

.investorCard .bind {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.investorCard .detail-bind {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.investorCard .title {
    color: var(--text-dark);
    font-weight: bold;
    font-size: 20px;
}

.investorCard .desc {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.investorCard .desc .color-text {
    font-size: 50px;
}

.investorCard .desc .mini-text {
    display: none;
    justify-content: space-around;
    font-size: 20px;
    color: var(--text-light);
    margin-bottom: 10px;
}

.investorCard .desc .mini-text.show {
    display: flex;
}

.investorCard .desc .mini-text .arrow-up-icon {
    width: 10px;
    margin-left: 5px;
}

.investorCard.primary-color .desc .color-text {
    color: var(--primary-color);
}

.investorCard.primary-color .desc .mini-text .arrow-up-icon path {
    stroke: var(--primary-color);
}

.investorCard.secondary-color .desc .color-text {
    color: var(--secondary-color);
}

.investorCard.secondary-color .desc .mini-text .arrow-up-icon path {
    stroke: var(--secondary-color);
}

.investorCard.tartiary-color .desc .color-text {
    color: var(--tartiary-color);
}

.investorCard.tartiary-color .desc .mini-text .arrow-up-icon path {
    stroke: var(--tartiary-color);
}

.investorCard .Ltds {
    display: none;
}

.investorCard .Ltds.show {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    overflow-x: hidden;
}

.investorCard .Ltds.show .Ltd {
    display: flex;
    width: 250px;
    box-sizing: border-box;
    margin-bottom: 7px;
}

.investorCard .Ltds.show .Ltd .Ltd-bar {
    width: 10px;
    height: 43px;
    border: none;
    margin-right: 10px;
}

.investorCard .Ltds.show .Ltd.color1 .Ltd-bar {
    background-color: var(--primary-color);
}

.investorCard .Ltds.show .Ltd.color2 .Ltd-bar {
    background-color: var(--secondary-color);
}

.investorCard .Ltds.show .Ltd.color3 .Ltd-bar {
    background-color: var(--tartiary-color);
}

.investorCard .Ltds.show .Ltd .Ltd-details {
    width: 100%;
    position: relative;
}

.investorCard .Ltds.show .Ltd .Ltd-details .text {
    font-size: 14px;
    font-weight: bold;
    color: var(--text-low-dark);
}

.investorCard .Ltds.show .Ltd .Ltd-details .number {
    font-size: 14px;
}

.investorCard .Ltds.show .Ltd.color1 .Ltd-details .number {
    color: var(--primary-color);
}

.investorCard .Ltds.show .Ltd.color2 .Ltd-details .number {
    color: var(--secondary-color);
}

.investorCard .Ltds.show .Ltd.color3 .Ltd-details .number {
    color: var(--tartiary-color);
}

.document {
    width: 123px;
    height: 119px;
    border-radius: 19px;
    box-shadow: var(--card-box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.document svg {
    width: 50%;
}

.document p {
    color: var(--text-low-dark);
    font-size: 15px;
    font-weight: 500;
    line-height: 127%;
}

.projectCard {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 15px 20px 10px;
    border-radius: 13px;
    width: 100%;
    height: 100%;
    background-color: var(--bg-secondary-color);
    border: 1px solid var(--border-secondary-color);
}

.projectCard .header {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.projectCard ul {
    display: flex;
    flex-direction: column;
}

.projectCard ul li {
    display: flex;
    align-items: center;
}

.projectCard ul li .box {
    width: 11px;
    height: 9px;
}

.projectCard ul li:nth-child(3n-2) .box {
    background: var(--primary-color);
}

.projectCard ul li:nth-child(3n-1) .box {
    background: var(--secondary-color);
}

.projectCard ul li:nth-child(3n) .box {
    background: var(--tartiary-color);
}

.projectCard ul li p {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: var(--text-low-dark);
    padding-left: 5px;
}


/* ConfigCard */

.configCards {
    box-sizing: border-box;
    display: flex;
    padding: 15px 20px 10px;
    border-radius: 13px;
    width: 100%;
    height: 100%;
    background-color: var(--bg-secondary-color);
    border: 1px solid var(--border-secondary-color);
}

.configCards .configCard {
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.configCards .configCard h1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: var(--text-dark);
    margin-bottom: 20px;
}

.configCards .configCard .progress-bar {
    height: 15px;
    border-radius: 10px;
    overflow: hidden;
}

.configCards .configCard .progress-bar.secondary-bar {
    background: rgba(255, 122, 23, 0.37);
}

.configCards .configCard .progress-bar.tartiary-bar {
    background: rgba(133, 185, 0, 0.44);
}

.configCards .configCard .progress-bar .progress-fill {
    height: 15px;
    border-radius: 10px;
}

.configCards .configCard .progress-bar .progress-fill.secondary-progress {
    background: var(--secondary-color);
}

.configCards .configCard .progress-bar .progress-fill.tartiary-progress {
    background: var(--tartiary-color);
}

.configCards .configCard .card-desc {
    display: flex;
    justify-content: space-between;
}

.configCards .configCard .card-desc ul {
    display: flex;
    flex-direction: column;
}

.configCards .configCard .card-desc ul h5 {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: var(--text-low-dark);
}

.configCards .configCard .card-desc ul p {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: var(--text-low-dark);
}

@media screen and (max-width: 768px) {
    .investorCard {
        flex-direction: column;
    }
    .investorCard .detail-bind {
        justify-content: flex-start;
        height: auto;
    }
    .configCards {
        flex-direction: column;
    }
    .configCards .configCard {
        margin-bottom: 25px;
    }
}