.adding-investor-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 19.58%);
    z-index: 100;
    top: 0;
    left: 0;
    position: fixed;
}

.adding-investor.generate {
    background-color: var(--bg-primary-color);
    -webkit-transition: width .4s ease, background-color .4s ease, border-color .4s;
    transition: width .4s ease, background-color .4s ease, border-color .4s;
    height: 100%;
    box-shadow: var(--drop-box-shadow);
    width: 48.6%;
    top: 0;
    right: 0;
    z-index: 200;
    border-radius: 20px 0px 0px 20px;
    position: fixed;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.investor-add {
    width: 100%;
    -webkit-transition: border-color .4s;
    transition: border-color .4s;
    scrollbar-width: none;
    overflow-x: hidden;
    padding: 20px 40px;
}

.investor-add .header-add {
    display: flex;
    align-items: center;
}

.investor-add .header-add button {
    padding: 10px 25px;
}

.investor-add .header-add h1 {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-low-dark);
    line-height: 180%;
    margin-left: 20px;
}

.investor-add .generate-body {
    padding: 10px 45px;
}

.investor-add .generate-body p {
    font-size: 20px;
    font-weight: 300;
    color: var(--text-low-dark);
    margin-bottom: 10px;
}

.investor-add .generate-body label {
    font-size: 20px;
    font-weight: 300;
    color: var(--text-low-dark);
    margin-right: 60px;
}

.investor-add .generate-body input {
    margin-right: 5px;
}

.investor-add .generate-body .submit-generate-option {
    margin-top: 30px;
}

.investor-add .generate-body .submit-generate-option button {
    padding: 10px 45px;
}

@media screen and (max-width: 768px) {
    .investor-add {
        padding: 20px;
    }
    .investor-add .generate-body {
        padding: 10px;
    }
}