.adding-investor.NewWar {
    width: 45%;
    z-index: 400;
}

.adding-investor-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 19.58%);
    z-index: 100;
    top: 0;
    left: 0;
    position: fixed;
}

.adding-investor.generate {
    background-color: var(--bg-primary-color);
    -webkit-transition: width .4s ease, background-color .4s ease, border-color .4s;
    transition: width .4s ease, background-color .4s ease, border-color .4s;
    height: 100%;
    box-shadow: var(--drop-box-shadow);
    width: 48.6%;
    top: 0;
    right: 0;
    z-index: 200;
    border-radius: 20px 0px 0px 20px;
    position: fixed;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.investor-add {
    width: 100%;
    -webkit-transition: border-color .4s;
    transition: border-color .4s;
    scrollbar-width: none;
    overflow-x: hidden;
    padding: 20px 40px;
}

.investor-add .header-add {
    display: flex;
    align-items: center;
}

.investor-add .header-add button {
    padding: 10px 25px;
}

.investor-add .header-add h1 {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-low-dark);
    line-height: 180%;
    margin-left: 20px;
}

.investor-add .NewWar-body {
    display: flex;
    flex-direction: column;
}

.NewWar .investor-add {
    height: 100%;
}

.NewWar .investor-add form {
    height: 90%;
    display: flex;
    flex-direction: column;
}

.NewWar .NewWar-body ul {
    width: 100%;
    display: flex;
}

.NewWar .NewWar-body ul li {
    margin-left: 25px;
    margin-bottom: 40px;
}

.NewWar .NewWar-body button {
    width: 30%;
    margin-left: 15px;
    margin-bottom: 25px;
}

.NewWar .NewWar-body .button {
    width: 30%;
}

.NewWar .NewWarForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.NewWar .NewWarForm .submit {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .NewWar .NewWar-body .button {
        width: 70%;
    }
    .NewWar .NewWar-body ul {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .NewWar .NewWar-body ul li {
        margin-left: 0px;
        margin-bottom: 40px;
        width: 100%;
    }
    .NewWar .NewWarForm .submit button {
        width: 100%;
    }
}