.project-submit {
    display: flex;
    margin: 25px 0px;
}

.ContractFormalization {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
}


.Esheet .savedInfo{
    display: flex;
    flex-direction: column;
}
.Esheet .savedInfo label{
    margin: 7px 0px 5px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}
.Esheet .savedInfo p{
    margin-left: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #A19F9D;
}

.inputs-part {
    margin: 30px 0px;
}

.ContractFormalization>.Esheet-submit {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 768px) {
    .project-submit button {
        width: 100%;
    }
    .ContractFormalization>.Esheet-submit button {
        width: 100%;
    }
}