.adding-investor-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 19.58%);
    z-index: 100;
    top: 0;
    left: 0;
    position: fixed;
}

.adding-investor {
    background-color: var(--bg-primary-color);
    -webkit-transition: width .4s ease, background-color .4s ease, border-color .4s;
    transition: width .4s ease, background-color .4s ease, border-color .4s;
    height: 100%;
    box-shadow: var(--drop-box-shadow);
    width: 71%;
    top: 0;
    right: 0;
    z-index: 200;
    border-radius: 20px 0px 0px 20px;
    position: fixed;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.investor-add {
    width: 100%;
    -webkit-transition: border-color .4s;
    transition: border-color .4s;
    scrollbar-width: none;
    overflow-x: hidden;
    padding: 20px 40px;
}

.investor-add.cfund {
    height: 100%;
}

.investor-add .header-add {
    display: flex;
    align-items: center;
}

.investor-add .header-add button {
    padding: 10px 25px;
}

.investor-add .header-add h1 {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-low-dark);
    line-height: 180%;
    margin-left: 20px;
}

.investor-add .create-fund {
    position: relative;
    padding-top: 10px;
    height: 100%;
}

.investor-add .create-fund ul {
    display: flex;
}

.investor-add .create-fund .lastUl {
    margin-top: 35px;
}

.investor-add .create-fund ul li {
    display: flex;
    flex-direction: column;
    margin-right: 37px;
}

.investor-add .create-fund .positioned_input {
    position: absolute;
    top: 90px;
    width: 100%;
}

.investor-add .create-fund ul li label {
    font-size: 12px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 5px;
}

.investor-add .create-fund ul li input {
    height: 30px;
    border: 1px solid var(--input-border);
    padding-left: 10px;
}

.investor-add .create-fund ul li input:focus {
    box-shadow: var(--box-shadow-inset);
    outline: none;
}

.investor-add .create-fund ul li input::placeholder {
    font-size: 14px;
    color: var(--input-border);
}

.investor-add .create-fund ul li input::-webkit-placeholder {
    font-size: 14px;
    color: var(--input-border);
}

.investor-add .create-fund ul li input::-moz-placeholder {
    font-size: 14px;
    color: var(--input-border);
}

.investor-add .create-fund ul li.dateInput {
    width: 181px;
}

.investor-add .create-fund ul li textarea {
    height: 110px;
    border: 1px solid var(--input-border);
    padding-left: 10px;
    padding-top: 5px;
    resize: none;
    width: 218%;
}

.investor-add .create-fund ul li textarea:focus {
    box-shadow: var(--box-shadow-inset);
    outline: none;
}

.investor-add .create-fund ul li textarea::placeholder {
    font-size: 14px;
    color: var(--input-border);
}

.investor-add .create-fund ul li textarea::-webkit-placeholder {
    font-size: 14px;
    color: var(--input-border);
}

.investor-add .create-fund ul li textarea::-moz-placeholder {
    font-size: 14px;
    color: var(--input-border);
}

.investor-add .create-fund button {
    position: absolute;
    bottom: 10%;
    right: 5%;
}

@media screen and (max-width: 768px) {
    .investor-add .create-fund ul {
        flex-direction: column;
    }
    .investor-add .create-fund .positioned_input {
        position: static;
    }
    .investor-add .create-fund ul li textarea {
        width: 100%;
    }
    .investor-add .create-fund ul li {
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .investor-add .create-fund ul li.dateInput {
        width: 100%;
    }
    .investor-add .create-fund button {
        position: static;
        bottom: 10%;
        width: 100%;
        right: 0%;
        margin-top: 30px;
        margin-bottom: 100px;
    }
}