/* * */

.cards.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(292px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(127px, 1fr));
    gap: 30px;
}


/* investor */

.investor .cards .title {
    font-size: 20px;
    font-weight: 600;
}

.investor .cards .desc .color-text {
    font-size: 30px;
}

.investor .add_investor {
    margin-top: 30px;
}

.investor .fund-table {
    margin-top: 10px;
}

.investor .fund-table .tab ul li {
    padding: 10px 100px 10px 10px;
}


/* investor-detail */

.investor-detail .investor-detail-info {
    margin-top: 10px;
}

.configuration .cards {
    text-align: center;
}

.configuration .cards .bind .desc {
    justify-content: center;
}

.configure {
    margin-top: 10px;
}

.configuration .tab {
    width: 100%;
}

.configuration .tab ul {
    width: 100%;
}

.configuration .tab ul li {
    width: 25%;
}

.newConfig .table .table-lists.projectTable .listBody .listItem {
    width: 100%;
    display: flex;
    justify-content: center;
}

.newConfig .table .table-lists.projectTable .listBody .listItem:first-child {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-left: 35px;
}

.fundDetails .management {
    padding: 10px 0px;
    height: 100vh;
}

.fundDetails .management button:first-child {
    padding: 10px 30px;
    margin-right: 40px;
}

.fundDetails .management .fund-item {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 30px;
    margin-top: 25px;
}

.fundDetails .management .fund-item li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 15px 0;
}

.fundDetails .management .fund-item p {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-dark);
}

.fundDetails .management .fund-item svg {
    width: 6%;
}

.fundDetails .tab ul li.color1.active {
    color: var(--primary-color);
}

.fundDetails .tab ul li.color1.active::after {
    background-color: var(--primary-color);
}


/* Project */

.projects .investorCard .title {
    order: 2;
    text-align: center;
    line-height: 27px;
    font-weight: 600;
    font-size: 16px;
}

.projects .investorCard .desc {
    order: 1;
    font-size: 40px;
    line-height: 60px;
}

.projects.detail .investorCard .title {
    order: 1;
}

.projects.detail .investorCard .desc {
    order: 2;
}

.projects .investorCard .desc .color-text {
    font-size: 40px;
    line-height: 60px;
    font-weight: 600;
}

.projects.detail .investorCard .desc .color-text {
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
}

.projects .investorCard .bind {
    align-items: center;
}

.projects .investorCard.primary-color .desc .color-text {
    font-size: 18px;
}

.projects.detail .investorCard.primary-color .desc .color-text {
    font-size: 30px;
    line-height: 45px;
    font-weight: 400;
}

.projects .table {
    margin-top: 30px;
}


/* Project Detail */

.projects.detail .tab {
    margin-top: 25px;
}


/* Leasing */

.leasingConfig header .display.show {
    display: inline-block;
    width: 50%;
}

.leasingConfig header .first-part {
    width: 40%;
}

.leasingConfig header .second-part {
    width: 60%;
}


/* ManageProject */

.ManageProject header .display.show {
    display: inline-block;
    width: 50%;
}

.ManageProject header .first-part {
    width: 40%;
}

.ManageProject header .second-part {
    width: 60%;
}


/* ManageInvestor */

.ManageInvestor header .display.show {
    display: inline-block;
    width: 50%;
}

.ManageInvestor header .first-part {
    width: 40%;
}

.ManageInvestor header .second-part {
    width: 60%;
}

.Esheet-submit {
    margin: 25px 0px;
}

.bill-title-body {
    position: relative;
    margin-top: 20px;
    margin-left: 10px;
}

.bill-title {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: var(--text-low-dark);
    position: absolute;
    top: 10px;
    z-index: 10000;
}

.table .table-lists.billingTable .listBody .listItem:last-child {
    text-decoration: underline;
    font-weight: 500;
}

.table .table-lists.bankConfig .listBody .listItem:last-child {
    text-decoration: underline;
    font-weight: 500;
}

.table .table-lists.bankConfig .listBody .listItem {
    width: 10%;
    margin-left: 50px;
}

.table .table-lists.billingTable .listHeader {
    padding: 5px 90px 0px 80px;
}

.Billing header .first-part {
    width: 50%;
}

@media screen and (min-width: 1500px) {
    .leasingConfig header .first-part .display.show {
        display: inline-block;
        width: 20%;
    }
    .leasingConfig header .second-part .display.show {
        display: inline-block;
        width: 35%;
    }
}

@media screen and (max-width: 768px) {
    .Esheet-submit a {
        width: 100%;
    }
    .Esheet-submit a button {
        width: 100%;
    }
    .investor .add_investor button {
        width: 100%;
    }
    .projects .project .management button {
        width: 100%;
    }
    .Fondos .table .table-lists {
        width: 215%;
    }
    .responsiveInvestorDetail .table .table-lists {
        width: 215%;
    }
    .investor-detail .investor-detail-info {
        margin-top: 0px;
    }
    .configuration .tab ul li {
        width: 100%;
    }
    .configuration .tab ul {
        margin: 15px 0px 25px;
    }
    .fundDetails .management .fund-item {
        width: 80%;
    }
    .fundDetails .management .fund-item li {
        justify-content: space-between;
    }
    .leasingConfig header .display.show {
        width: 10%;
        margin-top: 9px;
    }
    .leasingConfig header .display.show button {
        width: 36px;
    }
    .leasingConfig header .first-part {
        width: 100%;
    }
    .leasingConfig header .second-part {
        width: 100%;
    }
    .leasingConfig header .second-part .display.show {
        width: 100%;
    }
    .responsiveConfigDetail header .first-part .buttonwitharrow {
        margin-top: 16px;
    }
    .ManageProject header .first-part {
        width: 100%;
    }
    .ManageInvestor header .first-part {
        width: 100%;
    }
    .ManageProject header .display.show button {
        width: 36px;
    }
    .ManageInvestor header .display.show button {
        width: 36px;
    }
    .Billing header .first-part {
        align-items: flex-start;
    }
    .bill-title {
        position: static;
    }
    .BankFileConfiguration header .first-part {
        align-items: flex-start;
    }
    header .first-part {
        align-items: flex-start;
    }
}