.Utilidades{
    padding: 30px;
}
.Utilidades h3{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #85B900; 
    margin-bottom: 10px;   
}
.Utilidades h4{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #85B900;    
    margin-bottom: 10px;  
}
.Utilidades .archivo{
    display: inline-block;
    margin: 10px 0px 20px;
}
.Utilidades h5{ 
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #858585;    
    margin-bottom: 10px;   
}
.Utilidades h6{
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #FF2116;    
}