.pay-office {
    padding: 0px 30px 30px;
}

.pay-office .Esheet-submit {
    display: flex;
    justify-content: flex-start;
}

.pay-office .Esheet .textarea {
    width: 63.3%;
}

@media screen and (max-width: 768px) {
    .pay-office .Esheet-submit button {
        width: 100%;
    }
}